<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Intro</title>
</head>
<body>
    <div id="app">
        <h1 :style="headerStyle">Hello</h1>

        <template v-if="age >= 18">
            <p>{{ msg }}</p>
            <p :title="tooltip">Hover over me!</p>
            <ul>
                <li v-for="(item, index) in shopping">
                    {{ index }} - {{ item }}
                </li>
            </ul>
        </template>
        <p v-else-if="age >= 13">Teenager!</p>
        <p v-else>You are too young!</p>

        <ol v-show="seen">
            <todo-item v-for="foo in todos" :todo="foo"></todo-item>
            <!-- <todo-item></todo-item>
            <todo-item></todo-item> -->
            <!-- <li :style="todo.done ? 'color:green' : ''" v-for="todo in todos">
                {{ todo.text }}
            </li> -->
        </ol>
        <label for="checkbox">Checked? {{ checked }}</label>
        <input type="checkbox" name="checkbox" id="checkbox" v-model="checked">
        <input type="text" v-model="msg">
        <button @click="reverseMessage">Reverse Message!</button>
        <p>{{ now }}</p>

        <!-- Book categories -->
        <label for="adventure">Adventure</label>
        <input type="checkbox" id="adventure" value="Adventure" v-model="bookCategories">
        <label for="horror">Horror</label>
        <input type="checkbox" id="horror" value="Horror" v-model="bookCategories">
        <label for="drama">Drama</label>
        <input type="checkbox" id="drama" value="Drama" v-model="bookCategories">
        <p>Checked categories: {{ bookCategories }}</p>

        <!-- Book Authors -->
        <select v-model="author">
            <option disabled value="">Select an author...</option>
            <option>Stephen King</option>
            <option>Isaac Asimov</option>
            <option>Arthur C. Clarke</option>
        </select>
        <p v-if="author">Author: {{ author }}</p>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: `
                <li :style="todo.done ? 'color:green' : ''">
                    {{ todo.text }}
                </li>
            `
        })

        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        })

        const app = new Vue({
            el: '#app',
            data: {
                bookCategories: [],
                msg: 'Hello Vue!',
                tooltip: 'This is a tooltip message!',
                headerStyle: 'color:red',
                seen: true,
                age: 20,
                author: "",
                checked: false,
                shopping: [ "Bread", "Milk", "Tea" ],
                todos: [
                    { text: "Vacuum the floor", done: true },
                    { text: "Make a million dollars", done: false },
                    { text: "Visit Canada", done: false }
                ]
            },
            methods: {
                reverseMessage: function() {
                    this.msg = this.msg.split('').reverse().join('')
                }
            },
            computed: {
                now: function() {
                    return Date.now()
                }
            }
        })
    </script>
</body>
</html>